@import "../../vars.css";

.formGroup {
  display: flex;
  flex-direction: column;
  width: 340px;
  margin: auto;
}

.formHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.formTitle {
    font-size: 24px;
}

.formCloseIcon {
    color: var(--color-text-dark);
    font-size: 36px;
    cursor: pointer;
}

.formCloseIcon:hover {
    color: gray;
}

.formText {
    margin-top: 10px;
    margin-bottom: 10px;
}

.formComponent {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.formLabel {
  margin-bottom: 5px;
}

.formInput, .formTextArea {
  padding: 10px;
  font-size: 16px;
}

.formButtons {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

.formSubmit, .formClose {
    cursor: pointer;
    text-decoration: none;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: var(--color-text-dark);
    border: 2px solid var(--color-light-blue);
    border-radius: 10px;
    font-size: 24px;
    color: var(--color-light-blue);
    text-decoration: none;
    font-weight: 600;
    padding: 3px 6px;
    width: 120px;
    margin-top: 16px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.formSubmit:hover, .formClose:hover {
    cursor: pointer;
    color: var(--color-text-dark);
}

.formSubmit::before, .formClose::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--color-light-blue);
    z-index: -1;
    transition: .5s;
}

.formSubmit:hover::before, .formClose:hover::before {
    width: 100%;
}
